*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: grey;
}

.main {
  background: linear-gradient(rgba(#fff, .5), rgba(#fff, .5)), url('../../../public/weather-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  @include flex-centered;
}